body{
    background-image:url(login_bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
}


form{
	border: 10px #e9e9e9;
	width: 300px;
	height: 520px;
	padding: 14px 28px;
	outline-style: groove;
	outline-color: #e9e9e9;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	position: sticky;
}

input{
	transition: width 2s , height 2s;
}

input.w{
	width: 100%;
}

img.l{
	 display: block;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
}

img.i{
	width: 12px;
}

samp{
	font-size: 15px;
}


img.line{
	width: 80%;
	padding-left: 30px;
	padding-top: 10px;
}
button{
	background-image: linear-gradient(to bottom, white,#00bbe1);
	opacity: 0.65;	
}
button:hover{
	background-image: linear-gradient(to bottom, white,#00bbe1);
	opacity: 2;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	cursor: pointer;
}

input:hover{
	box-shadow: 0 0 6px #00bbe1;
	border-radius: 10px;
	

}

p{
	font-size: 15px;
}


a{
	text-decoration: none;
	color:whitesmoke;
	transition: width 1s, height 1s;
}

a:hover{
	color: #00d5ff;
	font-size: larger;
}

.padd{
	padding-top: 2px;
	padding-bottom: 5px;
}

input.mn{
	width: 73%;
}

input:focus{
	background-color: #00d5ff;
	padding-left: 10px;
	border-radius: 10px;
	outline: none;
}