*{
    margin: 0;
}



body{
    background-image: url(img/adminregis.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}



form{
    border: 20px #e9e9e9;
    width: 280px;
    height: 230px;
    padding: 14px 28px;
    outline-style: groove;
    outline-color: #e9e9e9;
    margin-left: 600px;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: auto;
    border-radius: 10px;
    position: absolute;
}



h1{
    color: #e9e9e9;
    text-align: center;
}



table{
    width: 250px;
}



input, textarea{
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    top: 0;
    height: 35px;
    border-radius: 10px;
    padding: 3px 10px;
}



input.submit{
    height: 30px;
    border-radius: 10px;
    width: 130px;
    background-color: antiquewhite;
    cursor: pointer;
}



button{
    height: 30px;
    border-radius: 10px;
    width: 270px;
    background-color: antiquewhite;
    cursor: pointer;
    margin-left: 41%;
    margin-top: 33%;
}